$colorPrimary: white;
$colorSecondary: blue;
$colorAccent: green;
$colorText: #565360;
$colorLabel: #908e9b;
$colorDisabled: #e1dfe9;
$font-sm-1: 0.25rem;
$font-sm-2: 0.50rem;
$font-sm-3: 0.75rem;
$font-md-1: 1rem;
$font-md-2: 1.25rem;
$font-md-3: 1.5rem;
$font-lg-1: 2rem;
$font-lg-2: 3rem;
$font-lg-3: 4rem;